body{
    background-color: #F8F8F8;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


        header{
            display: inline-block; 
            width: 1200px%;
            width: 100%; 
            height: 400px; 
            }

            header > img{
/* toks selektorius atpazista ta tiksliai img, kuriam reikia priskirti stiliu */

            }

            nav{
                float: right;

                }
                a{
                    color: #BABABA;
                    text-decoration: none;
                    padding-left: 10px;

                }
                a:last-of-type{
/* ima paskutine a reiksme, jeigu konkreciai nurodome skaiciu, tata a:nth... */
                    color: red;
                }
        main{

            div{

            }

                h1{

                }

                p{

                }

            main > img{


            }


\
            }
        
        
        }



    


    

        
