body{
    background-color: #F8F8F8;
}


    header{
        display: inline-block; 
        width: 1000px;
        background-color: red;
        margin left: calc( (100% - 1000px) / 2 );
    }

        header > img{
/* toks selektorius atpazista ta tiksliai img, kuriam reikia priskirti stiliu */
            display: inline-block;
            float: left;
        }

        nav{
            display: inline-block;
            float: right;

            }
                
                a{

                }
                a:last-of-type{
/* ima paskutine a reiksme, jeigu konkreciai nurodome skaiciu, tata a:nth... */
                    color: red;
                }
    main{

        div{
            display: inline-block;
            width: 40%;
            float: left;
            margin-top:
        }

            h1{

                }

            p{

                }

        main > img{
            display: inline-block;
            width: 50%;
            float: right;
        }



            }
        
        
        }



    


    

        
