body{
    background-color:#F8F8F8;
}

    header{
        display: inline-block;
        width: 1200px;
        margin-left: calc( (100% - 1200px) / 2 );
    }
    
        header > img{
            display: inline-block;
            float: left;
        }

        nav{
            display: inline-block;
            float: right;
               

        }
        a {
            display: inline-block;
            text-decoration: none;
            color: #BEBEBE;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            padding: 15px;


        }
        a:last-of-type {
            display: inline-block;
            width: 70px;
            border-radius: 25px;
            border: 3px solid #A9A9A9;
            padding: 2px;
            padding right: 15px;
            padding left: 15px;


            
        }
    main {
        display: inline-block;
        width: 1000px;
        margin-left: calc( (100% - 1000px) / 2 );
    
}   
    div {
        display: inline-block;
        width: 50%;
        float: left;
        margin-top: 100px;
        
        
    }
        h1 {
            display: inline-block;
            width:100%;
            color: #A0A0A0;
            font-size: 100px;
            margin: 0;
            font-family: monospace;
            
            
        }
        p {
            display: inline-block;
            width:100%;
            color: #A0A0A0;
            font-size: 40px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            margin: 0;
        }

    main > img {
        display: inline-block;
        width: 50%;
        float: right;
    }