body{
    background-color: #F8F8F8;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

    main{
        display: inline-block; 
        width: 1200px%;
        }
        #navigation{
            width: 100%; 
            height: 400px; 
            }

        #logo{
            float: left;
            }
            
        #Menu{
            float: right;

            }
        #Menu a{
            color: #BABABA;
            text-decoration: none;
            padding-left: 10px;
            }
        
        
        }



    


    

        
