body{
    background-color:#F8F8F8;
}

    header{
        display: inline-block;
        width: 1000px;
        margin-left: calc( (100% - 1000px) / 2 );
    }
    
        header > img{
            display: inline-block;
            float: left;
        }

        nav{
            display: inline-block;
            float: right;
            margin-top: 20px;

        }
        a {
            display: inline-block;
            text-decoration: none;
            color: #BEBEBE;
            font-family: Verdana, Geneva, Tahoma, sans-serif;


        }
        a:last-of-type {
            display: inline-block;
            
        }
    main {
        display: inline-block;
        width: 1000px;
        margin-left: calc( (100% - 1000px) / 2 );
}   
    div {
        display: inline-block;
        width: 40%;
        float: left;
        margin-top: 100px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        
    }
        h1 {
            display: inline-block;
            width:100%;
            color: #A0A0A0;
            text-align: center;
            font-size: 100px;
            margin: 0;
            
        }
        p {
            display: inline-block;
            width:100%;
            text-align: center;
            color: #A0A0A0;
            font-size: 40px;
            margin: 0;
        }
        
    main > img {
        display: inline-block;
        width: 50%;
        float: right;
    }