body{
    background-color:#F8F8F8;
}

    header {
        display: inline-block;
            width: 1000px;
            margin-left: calc( (100% - 1000px) / 2 );
    }
    
        header > img {
            display: inline-block;
            float: left;
        }

        nav {
            display:inline-block;
            float: right;
            margin-top: 20px;
        }
        a {
            float: left;
            padding-top: 0;
            margin-left: 10px;
            text-decoration: none;
            color: #BEBEBE;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            padding: 5px;
            padding-right: 20px;
            padding-left: 20px;
            border: 5px soli transparent;
        }
        a:last-of-type {
            border: 3px solid #A9A9A9;
            text-transform: uppercase;
            /* funkcija, didziosios ar mazosios ir t.t. */
            border-radius: 21px;
            /* radus px ziurime trumpiausios krastines dydi ir daliname is 2 */
            width: 70px;
            padding: 2px;
            padding-right: 15px;
            padding-left: 15px;
        }
    main {
        display: inline-block;
        width: 1000px;
        margin-left: calc( (100% - 1000px) / 2 )
    }   
        div {
            display: inline-block;
            width: 50%;
            float: left;
            margin-top: 100px;
            color: #A0A0A0;
        }
        h1 {
            display: inline-block;
            width:100%;
            font-size: 120px;
            margin: 0;
            font-family: monospace;
        }
        p {
            display: inline-block;
            width:100%;
            font-size: 40px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            margin: 0;
        }
    main > img {
        display: inline-block;
        width: 50%;
        float: right;
    }